In [1]:

def search_records(request):
    query = request.GET.get('q', '')
    disease_filter = request.GET.get('disease', '')
    antigen_filter = request.GET.get('antigen', '')
    year_filter = request.GET.get('year', '')
    sex_filter = request.GET.get('sex', '')

    records = ClinicalTrials.objects.all()

    if query:
        records = records.filter(
            Q(disease__icontains=query) |
            Q(disease_description__icontains=query) |
            Q(antigen__icontains=query) |
            Q(pubmed_id__icontains=query) |
            Q(clinical_trail_number__icontains=query) |
            Q(car_t_design__icontains=query)
        )

    if disease_filter:
        records = records.filter(disease=disease_filter)
    if antigen_filter:
        records = records.filter(antigen=antigen_filter)
    if year_filter:
        records = records.filter(year=year_filter)
    if sex_filter:
        records = records.filter(sex=sex_filter)

    # Distinct dropdown values
    diseases = ClinicalTrials.objects.exclude(disease__isnull=True).values_list('disease', flat=True).distinct().order_by('disease')
    antigens = ClinicalTrials.objects.exclude(antigen__isnull=True).values_list('antigen', flat=True).distinct().order_by('antigen')
    years = ClinicalTrials.objects.exclude(year__isnull=True).values_list('year', flat=True).distinct().order_by('year')
    sexes = ClinicalTrials.objects.exclude(sex__isnull=True).values_list('sex', flat=True).distinct().order_by('sex')

    return render(request, "search.html", {
        "records": records,
        "query": query,
        "diseases": diseases,
        "antigens": antigens,
        "years": years,
        "sexes": sexes,
        "selected": {
            "disease": disease_filter,
            "antigen": antigen_filter,
            "year": year_filter,
            "sex": sex_filter
        }
    })

In [1]:
from sqlalchemy import create_engine
import psycopg2
engine = psycopg2.connect('postgresql://postgres:OLxisdHNXhKFvgrNOFrXEVvIcZyINNti@yamanote.proxy.rlwy.net:30433/railway')

In [2]:
engine.

SyntaxError: invalid syntax (3358897293.py, line 1)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel('/home/avinash/Desktop/database_/db_project/database.xlsx')

In [3]:
df.fillna('Data Not Available',inplace = True)

NameError: name 'df' is not defined

In [4]:
df.isnull().sum()

NameError: name 'df' is not defined

In [17]:
print(df.columns)

Index(['Sequence', 'Disease', 'Disease_Description', 'Paper number for record',
       'Country name of clinical trial', 'Pubmed ID', 'Year',
       'Title of the paper', 'clinical_trail_number', 'Patient number', 'Sex',
       'Age', 'Age group', 'CAR T design', 'Generation of car receptor',
       'Vector', 'Antigen', 'Transfection method', 'Original T cell Sources',
       'Patient inclusion criteria', 'Patient exclusion criteria',
       'best reponse ', 'PARTIAL RESPONSE for whole study ', 'STABLE DISEASE',
       'complete response for the whole group', 'NO RESPONSE',
       'Progressive disease after one month', 'median overall survival',
       'SURVIVAL POST 6 MONTHS for whole group',
       'number of previous therapies'],
      dtype='object')

In [24]:

from sqlalchemy import create_engine, text

# Replace with your real connection string
engine = create_engine('postgresql://postgres:OLxisdHNXhKFvgrNOFrXEVvIcZyINNti@yamanote.proxy.rlwy.net:30433/railway')

# Delete all data and reset primary key sequence
with engine.begin() as conn:
    conn.execute(text("TRUNCATE TABLE clinical_trials RESTART IDENTITY CASCADE"))

print("✅ Table 'clinical_trials' cleared successfully.")

✅ Table 'clinical_trials' cleared successfully.

In [13]:
from sqlalchemy import create_engine, text

# Replace with your real connection string
engine = create_engine('postgresql://postgres:OLxisdHNXhKFvgrNOFrXEVvIcZyINNti@yamanote.proxy.rlwy.net:30433/railway')

query = """
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'clinical_trials' AND column_name = 'year';
"""

# Run the query using your engine
with engine.connect() as conn:
    result = conn.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

display(df)

  column_name          data_type
0        year  character varying

In [17]:
with engine.begin() as conn:
    conn.execute(text("""
        ALTER TABLE clinical_trials
        ALTER COLUMN year DROP NOT NULL;
    """))

In [18]:
with engine.begin() as conn:
    conn.execute(text(r"""
        UPDATE clinical_trials
        SET year = NULL
        WHERE year !~ '^\d+$';
    """))

In [19]:
from sqlalchemy import text

with engine.begin() as conn:
    conn.execute(text("""
        ALTER TABLE clinical_trials
        ALTER COLUMN year TYPE INTEGER
        USING year::integer;
    """))

print("✅ 'year' column successfully converted to INTEGER.")

✅ 'year' column successfully converted to INTEGER.

In [20]:
from sqlalchemy import create_engine, text

# Replace with your real connection string
engine = create_engine('postgresql://postgres:OLxisdHNXhKFvgrNOFrXEVvIcZyINNti@yamanote.proxy.rlwy.net:30433/railway')

query = """
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'clinical_trials' AND column_name = 'year';
"""

# Run the query using your engine
with engine.connect() as conn:
    result = conn.execute(text(query))
    df = pd.DataFrame(result.fetchall(), columns=result.keys())

display(df)

  column_name data_type
0        year   integer